parameters:
    level: 9
    paths:
        - src
        - tests
includes:
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon

services:
    - class: Ergebnis\PHPStan\Rules\Files\DeclareStrictTypesRule
