parameters:
    level: 9
    paths:
        - src
        - tests
    editorUrl: 'idea://open?file=%%file%%&line=%%line%%'
includes:
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon

services:
    - class: Ergebnis\PHPStan\Rules\Files\DeclareStrictTypesRule
