parameters:
    level: 9
    paths:
        - src
        - tests
includes:
    - vendor/ergebnis/phpstan-rules/rules.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
